/* texto justificado */
.justificado {
    text-align: justify;
}
/* asegurar que la tabla ocupe todo el ancho */
.table {
    width: 100%;
}
/* Estilos para la imagen */
img.img-fluid {
    max-width: 100%;
    height: auto;
}
/* ---------------------------------------------------------------- CARRUSEL ---------------------------------------------------------------- */
.carousel-controls {
    margin-top: 10px;
    text-align: center;
}
/* Botones del carrusel */
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: black; /* Fondo semi-transparente */
    color: white; /* Color del icono */
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.carousel-control-prev {
    left: 10px; /* Reduce el margen para dispositivos móviles */
}

.carousel-control-next {
    right: 10px;
}

.carousel-controls button span[aria-hidden="true"] {
    font-size: 24px; /* Ajusta el tamaño según prefieras */
    font-weight: bold;
    color: #ffffff; /* Cambia el color si es necesario */
}
/* ----------------------------------------------------------------------------------------------------------------------- lista de contacto */
.contact-list {
    list-style: none; /* Quita la numeración */
    padding: 0; /* Elimina el padding */
    margin: 0; /* Elimina el margen */
}

.contact-item {
    display: block; /* Asegura que cada item sea un bloque */
    margin-bottom: 10px; /* Espacio entre los elementos */
}

.contact-info {
    display: flex; /* Usa flexbox para alinear íconos, textos y enlaces */
    align-items: center; /* Alinea verticalmente al centro */
}

.contact-icon {
    margin-right: 15px; /* Espacio entre ícono y texto */
}

.contact-text {
    flex: 1; /* Permite que el texto ocupe espacio disponible */
    margin-right: 8px;
}

.contact-link {
    margin-left: 8px; /* Espacio entre el texto y el enlace */
    text-decoration: none; /* Sin subrayado en el enlace */
    color: black;
}

.contact-link:hover {
    text-decoration: none;
    color: #ff229c;
}
/* ------------------------------------------------------------- RESPONSIVIDAD ------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 992px) {
    .carousel-control-prev, .carousel-control-next {
        width: 35px;
        height: 35px;
        font-size: 1.3rem;
    }

    img.img-fluid {
        width: 180px;
        height: auto;
    }
}
/* Ajuste general para pantallas medianas y pequeñas */
@media (max-width: 768px) {
    .carousel-control-prev, .carousel-control-next {
        width: 30px; /* Ajuste de tamaño en pantallas pequeñas */
        height: 30px;
        font-size: 1.2rem;
    }

    .content {
        margin-left: 0;
        padding: 5px;
    }

    img.img-fluid {
        width: 150px; 
        height: auto;
    }
}
/* Ajustes para pantallas muy pequeñas */
@media (max-width: 480px) {
    .carousel-control-prev, .carousel-control-next {
        width: 25px;
        height: 25px;
        font-size: 1rem;
    }

    .content {
        margin-left: 0;
        padding: 5px;
    }

    img.img-fluid {
        width: 120px;
        height: auto;
    }
}