/* ***************************************************************** tabla ***************************************************************** */
/* Tabla completa */
.table-responsive {
    width: 100%; /* Ocupa todo el ancho disponible */
    margin-top: 20px;
}

.table th , .table td {
    text-align: center;
    padding: 8px;
}
/* -------------------------------------------------------------------------------------------------------------- imagen previa del producto */
.producto-imgCarrito {
    width: 80px; /* Ancho deseado */
    height: 100px; /* Alto deseado */
    object-fit: cover; /* Ajusta la imagen sin distorsionar */
}
/* **************************************************************** BOTONES ***************************************************************** */
/* ------------------------------------------------------------------------------------------------------------------------------ para pagar */
.btn-pagar {
    background-color: green !important;
    color: white !important;
    margin-bottom: 20px;
}

.formPagar, .formParaBotonPagar {
    background-color: transparent;
    border-color: transparent;
}
/* --------------------------------------------------------------------------------------------------------------------------- para eliminar */
.btn-basura {
    background-color: red !important;
    color: white !important;
}

.botonEliminarProductoDelCarrito {
    background-color: transparent;
    border-color: transparent;
}
/* ----------------------------------------------------------------------------------------------------------------------- para ver detalles */
.btn-detalles {
    background-color: sienna !important;
    color: white !important;
}
/* total a pagar --------------------------------------------------------------------------------------------------------------------------- */
.totalAPagar {
    color: green;
    font-size: 20px;
}
/* ************************************************* para las imágenes izquierda y derecha ************************************************* */
.imagen-izquierdaCarrito, .imagen-derechaCarrito {
    width: 180px; /* Se asegura de que ocupen el ancho completo del contenedor */
    max-width: 210px; /* Limita el tamaño máximo de las imágenes */
    height: auto; /* Mantiene la proporción de las imágenes */
    object-fit: cover; /* Hace que las imágenes se ajusten dentro del área sin distorsión */
}
/* ************************************************************* RESPONSIVIDAD ************************************************************* */
@media (min-width: 769px) {
    .content {
        margin-left: 230px;
    }
    /* ocultar en pantallas más pequeñas */
    .imagen-izquierdaCarrito, .imagen-derechaCarrito {
        width: 150px;
        height: auto;
    }
}
/* ---------------------------------------------------------------------------------------------------------------------- pantallas pequeñas */
@media (max-width: 768px) {
    .contenidoPrincipal {
        margin-left: 0;
        padding: 10px; 
    } 

    .imagen-izquierdaDashboard, .imagen-derechaDashboard {
        display: none;   
    }

    .pagination a, .pagination span {
        padding: 6px 8px;
        font-size: 14px;
    }
}
/* ------------------------------------------------------------------------------------------------------------------ pantallas muy pequeñas */
@media (max-width: 480px) {
    .contenidoPrincipal {
        margin-left: 0;
        padding: 5px; 
    } 
    /* Ocultar las imágenes de ilustración */
    .imagen-izquierdaCarrito, .imagen-derechaCarrito {
        display: none; 
    }
}