/* Body sin márgenes */
body {
    margin: 0;
    padding: 0;
    width: 100%; /* Ocupar todo el ancho */
    height: 100%; /* Ocupar toda la altura */
    font-family: 'Times New Roman', serif; /* Fuente general */
    background-color: #c1c6ca; /* Color de fondo del body */
}
/* ************************************************************** Menú lateral ************************************************************** */
.custom-menu {
    background-color: #000000; /* Color de fondo del menú */
    color: white; /* Color del texto */
    padding: 0; /* Elimina el padding */
    position: fixed; /* Fija el menú en su posición */
    top: 0; /* Se alinea al borde superior */
    bottom: 0; /* Se extiende hasta el borde inferior */
    left: 0; /* Se alinea al borde izquierdo */
    width: 230px; /* Ajusta el ancho del menú */
    height: 100vh; /* Ocupar toda la altura de la ventana */
    overflow-y: auto; /* Permite el desplazamiento vertical si es necesario */
}
/* -------------------------------------------------------------------------------------------- Estilos de los elementos de la lista del menú */
.custom-menu .list-group-item {
    background-color: transparent; /* Fondo transparente */
    color: rgb(255, 255, 255); /* Color del texto */
    border: none; /* Sin borde */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
    margin-bottom: 5px; /* Espaciado entre elementos */
}
/* ------------------------------------------------------------------------------------------------------------- Efecto hover sobre los ítems */
.custom-menu .list-group-item:hover {
    background-color: gold; /* Color al pasar el ratón */
    color: rgb(0, 0, 0); /* Asegurar que el texto siga siendo visible */
}
/* -------------------------------------------------------------------------------------------------------------------------- Elemento activo */
.custom-menu .list-group-item.active {
    background-color: #ff20c7; /* Color del elemento activo */
    color: white; /* Texto blanco para resaltar */
    text-align: center;  
}
/* ------------------------------------------------------------------------------------------------------------------- Botón de cerrar sesión */
.btn-link-danger {
    background-color: #a80616; /* Color de fondo personalizado */
    color: white; /* Color del texto */
    font-weight: bold; /* Negrita */
    text-align: center; /* Centra el texto dentro del botón */
    border-radius: 5px; /* Bordes redondeados */
    display: block; /* Ocupa todo el ancho disponible */
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
}
/* ------------------------------------------------------------------------------------------------------------------------ Al pasar el mouse */
.btn-link-danger:hover {
    background-color: #ff0019; /* Color de fondo */
    color: white; /* Mantener el texto en blanco */
}
/* --------------------------------------------------------------------------------------------------- Estilo de la imagen en el menú lateral */
.sidebar-header img {
    width: 200px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    margin-bottom: 10px; /* Espaciado inferior */
}
/* ************************************************************ SECCIÓN DE AYUDA ************************************************************ */
.soporte {
    padding: 0px; /* Añade padding a la sección */
    width: 100%; /* Ocupa todo el ancho del contenido */
}

.carousel-controls {
    margin-top: 10px;
    text-align: center;
}

.justificado {
    text-align: justify;
}
/* --------------------------------------------- Para asegurar que la tabla ocupe todo el ancho --------------------------------------------- */
.table {
    width: 100%; /* Ocupa todo el ancho disponible */
}
/* ------------------------------------------------------ Área principal del dashboard ------------------------------------------------------ */
.col-md-9, .col-lg-10 {
    padding: 0; /* Elimina el padding para evitar espacios innecesarios */
    min-height: 100vh; /* Asegúrate de que el área principal ocupe toda la altura */
    margin-left: 230px; /* Asegúrate de que el área principal comience después del menú */
    background-color: #c1c6ca; /* Color de fondo del body */
}
