/* ***************************************************************** tabla ***************************************************************** */
/* Tabla completa */
.table-responsive {
    width: 100%; /* Ocupa todo el ancho disponible */
    margin-top: 20px;
}

.table th , .table td {
    text-align: center;
    padding: 8px;
}
/* -------------------------------------------------------------------------------------------------------------- imagen previa del producto */
.producto-img {
    width: 80px; /* Ancho deseado */
    height: 100px; /* Alto deseado */
    object-fit: cover; /* Ajusta la imagen sin distorsionar */
}
/* ******************************************************* Estilo de paginación */
.pagination {
    display: flex;
    justify-content: center; /* Centra la paginación */
    align-items: center;
    padding: 10px 0;
    background-color: none;
    border-top: 1px solid #fd00be; /* Línea opcional para separar visualmente */
    z-index: 1;
}

.page-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.pagination li {
    margin: 0 5px; /* Elimina márgenes adicionales en los elementos */
}

.page-item.active .page-link {
    background-color: #000000;
    color: white;
    border-color: #000000;
}
/* Para tamaños de pantalla pequeños */
@media (max-width: 768px) {
    .pagination a, .pagination span {
        padding: 6px 8px;
        font-size: 14px;
    }
}
/* **************************************************************** BOTONES **************************************************************** */
/* ------------------------------------------------------------------------------------------------------------------------------------- ver */
.btn-info {
    background-color: sienna !important; 
    border-color: sienna !important; 
}

.btn-info:hover {
    background-color: peru !important; /* Color al pasar el mouse */
    border-color: peru !important; /* Color del borde al pasar el mouse */
}
/* ---------------------------------------------------------------------------------------------------------------------------------- editar */
.btn-warning {
    background-color: #1a237e;
    border-color: #1a237e; 
    color: white;
}

.btn-warning:hover {
    background-color: blue; /* Color al pasar el mouse */
    border-color: blue; /* Color del borde al pasar el mouse */
    color: white;
}
/* -------------------------------------------------------------------------------------------------------------------------------- eliminar */
.btn-danger {
    background-color: #c62828 !important; 
    border-color: #c62828 !important; 
}

.btn-danger:hover {
    background-color: red !important; /* Color al pasar el mouse */
    border-color: red !important; /* Color del borde al pasar el mouse */
}
/* ************************************************************* RESPONSIVIDAD ************************************************************* */
@media (min-width: 769px) {
    .content {
        margin-left: 230px;
    }

    img.img-fluid {
        width: 150px;
        height: auto;
    }
}

@media (max-width: 768px) {
    .content {
        margin-left: 0;
        padding: 5px; 
    } 

    img.img-fluid {
        width: 120px;
        height: auto;
    }
}
/* Si hay más pantallas pequeñas o extra pequeñas */
@media (max-width: 480px) {
    .content {
        margin-left: 0;
        padding: 5px; 
    } 

    img.img-fluid {
        width: 90px;
        height: auto;
    }
}